@{
    ViewBag.Title = "Index";
}

<h2>Welcome to the website Gestion Scrum</h2>

<div>
<p>This website aims to facilitate the management of Scrum projects.</p>

<p>Here are the features :</p>

<ul>
    <li>
        Create / Edit Project
    </li>
    <li>
        Create / Edit User Story
    </li>
    <li>
        Create Sprint 
    </li>
    <li>
        DashBoard
    </li>
    <li>
        Product BackLog
    </li>
    <li>
        Sprint View
    </li>
    <li>
        Scrum Board
    </li>
</ul>
</div>
